# OpenStack Staging Secrets
STAGING_OS_AUTH_URL= 
STAGING_OS_APPLICATION_CREDENTIAL_ID=
STAGING_OS_APPLICATION_CREDENTIAL_SECRET=
STAGING_OS_REGION_NAME=

# OpenStack Production Secrets
PRODUCTION_OS_AUTH_URL= 
PRODUCTION_OS_APPLICATION_CREDENTIAL_ID=
PRODUCTION_OS_APPLICATION_CREDENTIAL_SECRET=
PRODUCTION_OS_REGION_NAME=

# Shared Secrets
SSH_PRIVATE_KEY=
